.high-area{
    margin-top: 20px;
    border: 5px solid red;
    border-radius: 2px;
    width: 400px;
    padding: 10px 10px;
}
.main-bar{
    font-size: 30px;
    border-radius: 0px;
    height: 55px;
    width: 370px;
    text-align: right;
    font-weight: bold;
}
.btn{
    padding: 5%;
    background-color: grey;
    margin:  15px 5px 5px 0px;
    font-size: 25px;
    width: 70px;
    cursor: pointer;

}
#clear{
    height: 70px;
    width: 150px;
    padding: 10px;
    
}